/* Sm */
@media (min-width: 575px) {
    
}

/* Md */
@media (min-width: 767px) { 
    
}

/* Lg */
@media (min-width: 991px) { 
    
}

/* Xlg */
@media (min-width: 1200px) { 
    #bodyContainer{
        width: 70%;
        
    }
}

/* Style */
* {
    box-sizing: border-box;
  }

  body {
    font-size: 24px;
    line-height: 32px;
    color: #777777;
    background-color: whitesmoke;
  }

  /* Classes */
  div.container{
    width: 90%;
    background: white;
    margin: 0 auto 0 auto;
    margin-top: 50px;
    padding: 20px;
  }
    
    /* Card Classes */
    .card{
        margin: auto;
    }
    .card-title{
        margin-top: 160px;
        background-color: rgb(88, 85, 85);
        color: white;
        bottom: 0px;
        position: absolute;
        width: 200px;
    }
       

  /* Ids */